<!DOCTYPE html>
<html>
<head lang="fr">
<meta charset="UTF8">
<title>TinyTwitt</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="app.js"></script>
</head>
<body ng-app="tinytwitt" ng-controller='UtilisateurControle'>
		<h1>Créer un utilisateur</h1>
		<form novalidate>
			<p>
				<label>Nom d'utilisateur : <input type="text" name="nom" ng-model="nomuti" /></label>
			</p>
			<p>
				<button ng-click="postAjoutUtilisateur()"> créer </button>
			</p>
		</form>

		<h1>Nouveau message</h1>
		<form >
			<p>
				<label> Message : <br />
				<textarea name="message" style="width: 200px; height: 100px;" ng-model="message.contenu"></textarea></label><br />
				<label> Utilisateur : <input type="text" name="user" ng-model="message.iduti"/></label>
			</p>
			<p>
				<button ng-click="postAjoutMessage(message,nomuti)"> poster </button>
			</p>
		</form>

		<h1>Timeline</h1>
		<div ng-init="getMessages()">
			<p ng-repeat="x in data">
			message : {{x.message}} poste par {{x.usrId}}
			</p>
		</div>
		<h2> liste des hastag de l'utilisateur</h2>
		<div ng-init="getHashtags()">
			<p ng-repeat="h in dataH">
			hashtag : {{h}} poste par {{h.usrId}}
			</p>
		</div>
		<h3> liste des utilisateurs et leur id</h3>
		<div ng-init="getUsers()">
		<p ng-repeat="u in dataUsers">
			{{u}}
		</p>
		</div>
		<div>
		<p>
		<button ng-click="getlistfollow()"> afficher les utilisateurs qu'il suit</button>
		</p>
		<p ng-repeat="f in dataF">
			{{f}}
		</p>
		</div>
		<form novalidate>
			<p>
				<label>id de l'utilisateur : <input type="text" name="nom" ng-model="idaddf" /></label>
			</p>
			<p>
				<button ng-click="addfollow()"> suivre cet utilisateur </button>
			</p>
		</form>
		<form novalidate>
			<p>
				<label>id de l'utilisateur : <input type="text" name="nom" ng-model="idunf" /></label>
			</p>
			<p>
				<button ng-click="unfollow()"> ne plus le suivre </button>
			</p>
		</form>
		
	</body>
</html>