<!DOCTYPE html>
<html>
<head>
<meta charset="UTF8">
<title>TinyTwitt</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="app.js"></script>
</head>
<body ng-app="tinytwitt" ng-controller='UtilisateurControle'>
		
		<a href="https://github.com/pagotste/tinyTwitt"> lien vers nos sources code sur github</a>
		<h3>Creer un utilisateur</h3>
		<form novalidate>
			<p>
				<label>Nom d'utilisateur : <input type="text" name="nom" ng-model="nomuti" /></label>
			</p>
			<p>
				<button ng-click="postAjoutUtilisateur()"> creer </button>
			</p>
		</form>
		<h2> Vous utiliser ces services sous l'utilisateur avec l'id : 5629499534213120</h2>
		<h3>Nouveau message</h3>
		<form >
			<p>
				<label> Message : <br />
				<textarea type="text" name="message" style="width: 200px; height: 100px;" ng-model="mcontenu"></textarea></label><br />
				<label> Utilisateur : <input type="text" name="user" ng-model="miduti"/></label>
				<label> Date : <input type="text" name="date" ng-model="mdate"/></label>
			</p>
			<p>
				<button ng-click="postAjoutMessage()"> poster </button>
			</p>
		</form>
		
		<h1>Timeline</h1>
		<div ng-init="getMessages()">
			<p ng-repeat="x in data">
			message : {{x.message}} poste par {{x.usrId}}
			</p>
		</div>
		
		<div>
		<h3 ng-init="getlistfollow()"> 
		liste des utilisateurs qu'il suit
		</h3>
		<p ng-repeat="f in dataF">
			{{f}}
		</p>
		</div>
		<form novalidate>
			<p>
				<label>id de l'utilisateur : <input type="text" name="nom" ng-model="idaddf" /></label>
			</p>
			<p>
				<button ng-click="addfollow()"> suivre cet utilisateur </button>
			</p>
		</form>
		<form novalidate>
			<p>
				<label>id de l'utilisateur : <input type="text" name="nom" ng-model="idunf" /></label>
			</p>
			<p>
				<button ng-click="unfollow()"> ne plus le suivre </button>
			</p>
		</form>
		<p> temps d'execution de la derniere requete : {{tempo}}</p>
	</body>
</html>
